#root {
  min-width: 360px;
  margin: 0 auto;
  font-family:
    SUIT Variable,
    sans-serif;
  /* background-image: linear-gradient(180deg, #d0ceff 0%, #fdfdff 70%, #fff 100%); */
}

.biasContainer {
  /* IE, Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  /* Chrome, Safari, Opera */
  display: none;
}

.draggable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
